body,html{
  background-color: #f0f8ff;
  height: 100%;
}

.homepageBackground{
  background-image:
    url(/frontend/public/img/home-vector-1.svg),
    url(/frontend/public/img/home-vector-2.svg),
    url(/frontend/public/img/home-vector-3.svg);
}

